:root{
    font-family: 'Manrope';
}

* {
    margin: 0;
    padding: 0;
}

.impaire{
    background-color:#1f2039;
}

header{
    padding: 5px 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.titre{
    margin-left: 100px;
    width: 145px;
    height: 82px;
}

nav{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

nav>a{
    color: black;
    text-decoration: none;
    font-size: larger;
}

.deco{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

.deco>div{
    width: 70px;
    height: 69px;
}

.haut-gauche{
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.haut-droite{
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.info{
    margin: auto;
    width: 493px;
    height: 98px;
    background-color: #D9D9D9;
    mix-blend-mode: luminosity;
    border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulaire{
    width: 493px;
    height: 136px;
    margin-top: 50px;
}

.bas{
    padding: 0 0 100px 0;
}

.bas-gauche{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.bas-droite{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.paire{
    background-color: white;
}

.case{
    margin: 50px 5% 30px 5%;
    background-color: #DCD5EF;
    border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.affichage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ville{
    width: 40%;
    height: 111.242px;
}

.date{
    width: 40%;
    height: 111.242px;
}

.etat{
    width: 40%;
    height: 278.973px;
}