:root{
    font-family: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color:#1f2039;
}

header{
    padding: 10px 0;
    background-color: white;
}

h1{
    text-align: center;
}

.card{
    margin: 100px auto;
    width: 80%;
    height: 600px;
    border: 5px solid red;
    background-color: white;
}

.header-card{
    height: 50px;
    border-bottom: red solid 5px;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
}

#icon{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon>img{
    width: 60%;
}

.basic-info{
    margin: auto;
}

.basic-info>p{
    display: inline;
}

.additionnal-info{
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.additionnal-info>div>p{
    display: inline;
}
