:root{
    font-family: 'Manrope';
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color:#1f2039;
}

header{
    padding: 5px 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.titre{
    margin-left: 100px;
    width: 145px;
    height: 82px;
}

nav{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

nav>a{
    color: black;
    text-decoration: none;
    font-size: larger;
}

.deco{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

.deco>div{
    width: 70px;
    height: 69px;
}

.haut-gauche{
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.haut-droite{
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.info{
    margin: auto;
    width: 493px;
    height: 98px;
    background-color: #D9D9D9;
    mix-blend-mode: luminosity;
    border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px; /* 50px pour les coins supérieurs et inférieurs, 10px pour les coins gauche et droit */
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulaire{
    width: 493px;
    height: 136px;
    margin-top: 50px;
}

.bas{
    margin: 0;
}

.bas-gauche{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.bas-droite{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}